$mainColor: #4adbb7;
$menuBackgroundColor: #000;
$backgroundColor: #fff;
$textColor: #fff;

.greenText {
    color: $mainColor;
}

.row1 {
    background-color: $menuBackgroundColor;
    color: #fff;
}
